---
title: Edvard Busck-Nielsen - Portfolio
layout: default
---

    <div class="content">
        <div class="container">
          <div class="row header">
            <div class="logo_area">
                <img class="header_logo" src="{{ site.logo }}" alt="Logo" style="height: auto; max-width: 160px;">
            </div>
            <div class="col-sm-6 name">
              <h3>Edvard</h3><p>Busck-Nielsen</p>
            </div>
            <div class="col-sm-6 description">
              <div class="oneLiner">Developer</div>
              <div class="words"><span>Python</span><span>Apps</span><span>Linux</span><span>GitHub</span><span>Free Software</span></div>
            </div>
          </div>
          <a class="down_arrow" href="#about"><i class="fas fa-chevron-down"></i></a>
        </div>
    </div>

    <div class="about_section" id="about">
        <div class="container about_container">
            <div class="row">
                <h1 class="section_header">About Me</h1>
                <div class="col-md-6">
                    <img class="header_logo" src="{{ site.logo }}" alt="Logo" style="height: auto; max-width: 220px; display: block;">
                </div>
                <div class="col-md-6">
                    <h1 id="about_text_title">Hi!</h1>
                    <p id="about_text">
                        {{ site.description }}
                    </p>
                </div>
            </div>
            <div class="about_skills" id="skills">
                {% for skill in site.skills %}
                <div class="skill">
                    <a id="{{ skill.ids }}"><i class="{{ skill.icon }}"></i></a>
                    <span class="tooltiptext">{{ skill.name }} </span>
                </div>
                {% endfor %}
            </div>
            {% for skill in site.skills %}
            <!-- MODAL -->
            <div id="{{ skill.modal }}" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="btn-close {{ skill.short }}_close modal_x" style="color: #34B484;"></a>
                        <h2>{{ skill.name }}</h2>
                    </div>
                    <div class="modal-footer">
                        <h3>Skill</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
            <br>
        </div>
    </div>

    <div class="tools_section" id="tools">
        <div class="tools_container container">
            <div class="row">
                <h1 class="section_header">Tools</h1>
                <div class="tools_side col-sm-6">
                    <ul>
                        <li><i class="fas fa-circle-notch"></i> Text Editor</li>
                        <li><i class="fas fa-circle-notch"></i> OS</li>
                        <li><i class="fas fa-circle-notch"></i> Source Control</li>
                        <li><i class="fas fa-circle-notch"></i> Browser</li>
                        <li><i class="fas fa-circle-notch"></i> IDE</li>
                    </ul>
                </div>
                <div class="descriptions_side col-sm-6">
                    <ul>
                        <li><i class="fas fa-circle-notch"></i> Atom</li>
                        <li><i class="fas fa-circle-notch"></i> OSX</li>
                        <li><i class="fas fa-circle-notch"></i> Git</li>
                        <li><i class="fas fa-circle-notch"></i> Chrome</li>
                        <li><i class="fas fa-circle-notch"></i> PyCharm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_section" id="portfolio">
        <div class="container">
            <h1 class="section_header">Portfolio</h1>
            <div id="portfolio_s">
                <div id="portfolio-sort" class="portfolio-sort-btns">
                    <a id="all">All</a>
                    <a data-cat="python">Python</a>
                    <a data-cat="shell-script">Shell Script</a>
                    <a data-cat="app">Apps</a>
                </div>
                <div id="portfolio-content">
                    {% for project in site.portfolio %}
                    <div class="portfolio-item col-md-6" data-cat="{{ project.data_cat }}">
                        <h1 class="portfolio_item_title">{{ project.title }}</h1>
                        <p class="portfolio_item_description">{{ project.description }}</p>
                        <br>
                        <a class="portfolio_item_btn" href="{{ project.link }}" target="blank"><i class="fa fa-link"></i></a>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div id="mobile_portfolio">
                <ul>
                    {% for project in site.portfolio %}
                    <li>
                        <div>
                            <h1 class="portfolio_item_title">{{ project.title }}</h1>
                            <p class="portfolio_item_description">{{ project.description }}</p>
                            <br>
                            <a class="portfolio_item_btn" href="{{ project.link }}" target="blank"><i class="fa fa-link"></i></a>
                            <br>
                            <br>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="contact_section" id="contact">
        <div class="container">
            <h1 class="section_header">Contact</h1>
            <div class="row">
                <div class="contact_social col-md-6">
                    <div class="contact_social_container container">
                        <div class="contact_social_container_inner container-inner">
                            <h1>{contact} <span>me</span>.</h1>
                            <ul class="social_icons">
                                <div class="social_icons_content">
                                    <a href="{{ site.github_link }}" target="blank">
                                        <li>
                                            <i class="fab fa-github">
                                            </i> @{{ site.username }}
                                        </li>
                                    </a>
                                    <a href="{{ site.instagram_link }}" target="blank">
                                        <li>
                                            <i class="fab fa-instagram">
                                            </i> @{{ site.username }}
                                        </li>
                                    </a>
                                    <a href="{{ site.email_link }}">
                                        <li>
                                            <i class="fa fa-envelope">
                                            </i> {{ site.email }}
                                        </li>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="contact_form col-md-6">
                    <form>
                        <div class="form" action="https://formspree.io/{{ site.email }}" method="POST">
                            <div class="form-group">
                              <input type="text" class="form-control" value="" placeholder="Name" id="contact-name" name="Name" />
                              <label class="input-field-icon icon-user" for="login-name"></label>
                            </div>

                            <div class="form-group">
                              <input type="email" class="form-control" value="" placeholder="Email" id="contact-email" name="Email" />
                              <label class="input-field-icon icon-email" for="login-email"></label>
                            </div>

                            <div class="form-group">
                              <textarea class="form-control" value="" placeholder="Message" id="contact-message" rows="1" name="Message"></textarea>
                            </div>

                            <!--<button id="contact-send" class="btn btn-primary btn-lg btn-block">Send</button>-->
                            <input type="submit" value="Send" id="contact-send" class="btn btn-primary btn-lg btn-block">
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
