<div class="footer_section">
    <footer>
        &copy; Edvard Busck-Nielsen {{ site.year }}
        <br>
        <div class="footer_links" style="display:inline;">
            <a href="https://edvard.io/privacy.html" target="blank">Privacy Policy</a>
            -
            <a href="{{ site.email_link }}" target="blank">Contact</a>
            -
            <a href="{{ site.github_link }}" target="blank">GitHub</a>
            -
            <a href="{{ site.linkedin_link }}" target="blank">LinkedIn</a>
        </div>
    </footer>
</div>
