<!DOCTYPE html>
<html lang="en" dir="ltr">

    {% include head.html %}

    <body>
        <section id="top"></section>

        {% include preloader.html %}

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/scroll.js"></script>

    <script>
        // Get the modal
        var pmodal = document.getElementById('pyModal');

        // Get the button that opens the modal
        var pbtn = document.getElementById("py_btn");

        // Get the <span> element that closes the modal
        var pspan = document.getElementsByClassName("py_close")[0];

        // When the user clicks the button, open the modal
        pbtn.onclick = function() {
          pmodal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        pspan.onclick = function() {
          pmodal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == pmodal) {
            pmodal.style.display = "none";
          }
        }
    </script>
    <script>
        // Get the modal
        var hmodal = document.getElementById('html5Modal');

        // Get the button that opens the modal
        var hbtn = document.getElementById("html5_btn");

        // Get the <span> element that closes the modal
        var hspan = document.getElementsByClassName("html5_close")[0];

        // When the user clicks the button, open the modal
        hbtn.onclick = function() {
          hmodal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        hspan.onclick = function() {
          hmodal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == hmodal) {
            hmodal.style.display = "none";
          }
        }
    </script>
    <script>
        // Get the modal
        var tmodal = document.getElementById('terminalModal');

        // Get the button that opens the modal
        var tbtn = document.getElementById("terminal_btn");

        // Get the <span> element that closes the modal
        var tspan = document.getElementsByClassName("terminal_close")[0];

        // When the user clicks the button, open the modal
        tbtn.onclick = function() {
         tmodal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        tspan.onclick = function() {
          tmodal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == tmodal) {
            tmodal.style.display = "none";
          }
        }
    </script>
    <script>
        // Get the modal
        var lmodal = document.getElementById('linuxModal');

        // Get the button that opens the modal
        var lbtn = document.getElementById("linux_btn");

        // Get the <span> element that closes the modal
        var lspan = document.getElementsByClassName("linux_close")[0];

        // When the user clicks the button, open the modal
        lbtn.onclick = function() {
          lmodal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        lspan.onclick = function() {
          lmodal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == lmodal) {
            lmodal.style.display = "none";
          }
        }
    </script>
    <script>
        // Get the modal
        var gmodal = document.getElementById('gitModal');

        // Get the button that opens the modal
        var gbtn = document.getElementById("git_btn");

        // Get the <span> element that closes the modal
        var gspan = document.getElementsByClassName("git_close")[0];

        // When the user clicks the button, open the modal
        gbtn.onclick = function() {
          gmodal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        gspan.onclick = function() {
          gmodal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == gmodal) {
            gmodal.style.display = "none";
          }
        }
    </script>
    <script>
        // Get the modal
        var jmodal = document.getElementById('jekyllModal');

        // Get the button that opens the modal
        var jbtn = document.getElementById("jekyll_btn");

        // Get the <span> element that closes the modal
        var jspan = document.getElementsByClassName("jekyll_close")[0];

        // When the user clicks the button, open the modal
        jbtn.onclick = function() {
          jmodal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        jspan.onclick = function() {
          jmodal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == jmodal) {
            jmodal.style.display = "none";
          }
        }
    </script>

    <script  src="assets/js/index2.js"></script>
    <script  src="assets/js/index3.js"></script>
    <script  src="assets/js/index4.js"></script>
    <script  src="assets/js/index5.js"></script>

    </body>
</html>
